header{
    padding: 10px 30px;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    align-items: center;
}

.header-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(97, 96, 96);
}

.header-left:nth-child(1){
    font-size: 20px;
}

.header-left>img{
    padding: 0 10px;
    width: 60px;
}

.header-left>span:nth-child(3){
    font-size: 23px;
}

.header-middle{
    display: flex;
    align-items: center;
}

.header-middle>span{
    background-color: transparent;
    translate: 30px 0;
    font-size: 17px;
    color: rgb(97, 96, 96);
}

.header-middle>input{
    width: 100%;
    height: 45px;
    border: none;
    background-color: rgb(245, 243, 243);
    color: gray;
    padding: 5px 12px;
    font-size: 16px;
    border-radius: 7px;
    padding-left: 50px;
}

.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    color: rgb(97, 96, 96);
}

.header-right>span:nth-child(2){
    padding: 0 20px;
}

.drawer-menu-items{
    text-decoration: none;
}

.user-profile-div{
    padding-left: 20px;
}

.user-profile{
    width: 26px;
    height: 26px;
    background-color: lightgray;
    color: black;
    border-radius: 30px;
    border:solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.user-profile>span{
    font-size: 15px;
    font-weight: bolder;
    /* text-align: center; */
}

.note-box{
    position: relative;
}

.current-user-profile-div{
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 190px;
}

.current-user-profile{
    background-color:deeppink;
    width: 25rem;
    height: 10rem;
    border: solid 1px magenta;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

@media only screen and (max-width: 481px){

    header{
        align-items: flex-end;
    }
}