*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.popover-wrapper-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover-div{
    border: solid 1px lightgray;
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    padding: 15px 15px;

}

.popover-div>div:nth-child(1){
    font-weight: 600;
}

.popover-div1>input{
    width: 30rem;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: transparent;
}

.popover-div2>textarea{
    font-size: 15px;
    border: none;
    background-color: transparent;
    outline: none;
}

/* .notes{
    display:flex;
    padding: 25px 30px;
} */


/* aside{
    padding: 10px 30px;
    display: flex;
    gap: 20px;
} */

/* nav{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 30px;
    font-size: 22px;
    color: rgb(97, 96, 96);
    z-index: 1;
    background-color: white;
} */

/* .nav-menu{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    font-size: 15px;
    position: relative;
    left: -200px;
    transition: 0.3s;
} */

main{
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
    /* overflow: hidden; */
}

main>div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-note-input{
    width: 50%;
    height: auto;
    /* padding: 23px 15px; */
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.title-note-input>input:nth-child(1){
    font-size: 16px;
    padding: 8px 8px;
    border: none;
}

.title-note-input>input:nth-child(2){
    font-size: 14px;
    padding: 8px 8px;
    border: none;
}

.title-note-input-icons-button{
    display: flex;
    justify-content: space-between;
}

.title-note-input-icons{
    display: flex;
    gap: 10px;
    font-size: 15px;
}

.title-note-input-icons>span{
    cursor: pointer;
}

.title-note-input-button{
    font-size: 15px;
    padding: 6px 15px;
    border: none;
    background-color: transparent;
}

.title-note-input-button:hover{
    background-color: lightgray;
    padding: 6px 15px;
    transition: 0.3s;
    border-radius: 2px;
}

/* main>div:nth-child(1)>input{
    width: 50%;
    height: 35px;
    padding: 23px 15px;
    font-size: 15px;    
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1.5px 8px 0px #888888;
} */

.outside-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    width: 50%;
    box-shadow: 0px 1.5px 8px 0px #888888;
    padding: 10px 15px;
    border-radius: 2px;
}

.outside-box>span:nth-child(1){
    font-size: 17px;
}

/* main>div:nth-child(1)>div{
    z-index: 1;
    font-size: 20px;
    display: flex;
    translate: -150px 0;
    color: rgb(97, 96, 96);
} */

/* .notes-input-icon-div>span:nth-child(2){
    padding: 0 30px;
} */

.note-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    /* transition: 3s ease; */
}

.note-item{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 15px 15px;
    position: relative;
}

.bin-option-icons{
    opacity: 0;
    color: rgb(73, 73, 73);
}

.note-item:hover{
    .bin-option-icons{
        opacity: 1;
        transition: opacity 0.3s;
    }
}

.note-item>span:nth-child(1){
    font-weight: 600;
}

.color-boxes {
    height: 40px;
    width: 150px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 2px;
}

.color-boxes>span{
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 1px solid black;
}

.color-boxes>span:nth-child(1){
    background-color: lightblue;
}
.color-boxes>span:nth-child(2){
    background-color: lightcoral;
}
.color-boxes>span:nth-child(3){
    background-color: lightgreen;
}
.color-boxes>span:nth-child(4){
    background-color: lightpink;
}
.color-boxes>span:nth-child(5){
    background-color: white;
}



@media only screen and (max-width:1024px){
    .note-div{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:768px){

    .notes{
        gap: 50px;
    }

    main>div:nth-child(1)>input{
        width: 100%;
    }

    .note-div{
        grid-template-columns: 1fr 1fr;
    }

    main>div:nth-child(1)>div{
        z-index: 1;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        translate: 0px 0;
        align-items: flex-end;
    }

    .notes-input-icon-div>span:nth-child(2){
        padding: 0px;
    }

    main>div:nth-child(1){
        gap: 10px;
    }


}

@media only screen and (max-width:481px){

    /* header{
        padding: 10px 2px;
    }

    .header-left>img{
        padding: 0 5px;
        width: 50px;
    }

    .header-right>span:nth-child(2){
        padding: 0 10px;
    } */

    .note-div{
        grid-template-columns: 1fr;
    }
}